{% extends 'AppAppBundle:Layouts:default.html.twig' %}

{% block content %}
<h1>Search Word</h1>



<form method="post" action="{{ path('nodes_search_action') }}" class="form col-md-12 center-block">


    <div class="form-group">
        <input type="text" placeholder="word " name="word" id="thesaurus"
               class="form-control input-lg" />
    </div>


</form>
<br>
<div class="col-md-12">
    {% if results is defined %}
    {% for item in results %}
    <p><a href="/nodes/graph/{{ item['id'] }}">{{ item['properties']['word'] }}</a></p>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}
