{% extends 'AppAppBundle:Layouts:default.html.twig' %}

{% block content %}
    <h1>Moderation</h1>
    <a href="{{ path('moderation_new') }}" class="btn btn-info">List News</a>
    <a href="{{ path('moderation_declined') }}" class="btn btn-info">List Declined</a>
{% endblock %}
